/Tugas7/nbproject/private/
/Tugas7/build/
/TugasAkhir/nbproject/private/
/TugasAkhir/build/
/TugasAkhir/dist/
/simpleJavaFX/target/
/javaFX/target/
/TugasAkhirV1/nbproject/private/
/TugasAkhirV2/target/
/JavaFXApplication1/nbproject/private/
/JavaFXApplication2/nbproject/private/
/TugasAkhirV2/nbproject/private/
/TugasAkhirV1/build/
/TugasAkhirV2/build/
/TugasAkhirV2/dist/
