/Tugas7/nbproject/private/
/Tugas7/build/
/TugasAkhir/nbproject/private/
/TugasAkhir/build/
/TugasAkhir/dist/
/simpleJavaFX/target/
/javaFX/target/
/TugasAkhirV1/nbproject/private/
/TugasAkhirV2/target/
/JavaFXApplication1/nbproject/private/
/JavaFXApplication2/nbproject/private/
/TugasAkhirV2/nbproject/private/
/TugasAkhirV1/build/
/TugasAkhirV2/build/
/TugasAkhirV2/dist/
/test1/target/
/Kuliah Coding/TugasAkhirV1/nbproject/private/
/Kuliah Coding/TugasAkhirV2/nbproject/private/
/Kuliah Coding/Tugas7/build/
/Kuliah Coding/Tugas7/nbproject/private/
/Kuliah Coding/Tugas_lebaran/build/
/Kuliah Coding/Tugas_lebaran/nbproject/private/
/Kuliah Coding/tugas3/build/
/Kuliah Coding/tugas3/nbproject/private/
/Kuliah Coding/tugas5/nbproject/private/
/Kuliah Coding/tugas6/build/
/Kuliah Coding/tugas6/nbproject/private/
/Test Coding/TugasAkhirV3/nbproject/private/
/Test Coding/TugasAkhirV3/build/
/Test Coding/TugasAkhirV3/dist/
/Kuliah Coding/pemdas_quiz/nbproject/private/
/Kuliah Coding/pemdas_quiz/build/
/Kuliah Coding/pemdas_quiz1/nbproject/private/
/Kuliah Coding/pemdas_quiz1/build/
/Kuliah Coding/pemdas_quiz_final/nbproject/private/
/Kuliah Coding/pemdas_quiz_final/build/
/Kuliah Coding/pemdasQuizLagi/nbproject/private/
/Kuliah Coding/pemdasQuizLagi/build/
/Kuliah Coding/pemdasQuizLagi/dist/
